################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/POS.Core/.vs/POS.Core
/POS.Core/POS.Core/bin/Debug/netcoreapp3.1
/POS.Core/POS.Core/obj
/POS.Core/POS.Core/POS.Core.csproj.user
